main {
  text-align: center;
}
.about-container {
  width: 100%;
  padding: 0 0 40px 0;
  background-color: #b1d8e0;

  h2 {
    margin: 0 auto;
    padding: 50px 0 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: #096886;
  }

  p {
    font-size: 18px;
    color: #3c3c3c;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    min-height: 827px;
  }
}