<!DOCTYPE html>
<html lang="en" ng-app="ligazakontestapp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<base href="/">
	<link rel="stylesheet" href="css/app.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="page-container">
	<div ng-if="!loading" ng-include="'common/header/header.html'"></div>
	<main class="main">
		<nav-comp></nav-comp>
		<div ui-view></div>
		<!--<ul ng-controller="MainController">-->
			<!--<li ng-repeat="person in people">{{person.name}} - {{person.age}}</li>-->
		<!--</ul>-->
	</main>
	<div ng-if="!loading" ng-include="'common/footer/footer.html'"></div>
</div>

<script src="js/vendor.js" defer></script>
<script src="js/index.js" defer></script>
</body>
</html>